<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index1.css" media="screen" type="text/css">
    <link rel="stylesheet" href="index2.css" media="screen" type="text/css">
    <link rel="stylesheet" href="index3.css" media="screen" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>淘宝</title>
</head>
<body>
    <div id="a1">
        <div id="a11">
            <div id="a111">
                <ul class="a11ul" id="a11ul1">
                    <li><a href="#" id="a1ul1black" class="bjwhite">中国大陆<div class="arrow"></div></a></li><li><a href="#" id="a1ul1red">亲，请登录</a></li><li><a href="#">免费注册</a></li><li><a href="#">手机逛淘宝</a></li>
                </ul>
                <ul class="a11ul" id="a11ul2">
                    <li><a href="#" class="bjwhite">我的淘宝<div class="arrow"></div></a></li><li><a href="#"><img src="购物车.jpg" id="car">购物车</a></li><li><a href="#" class="bjwhite">★&nbsp&nbsp收藏夹<div class="arrow"></div></a></li><li><a href="#">商品分类</a></li>
                </ul>
                <ul class="a11ul" id="a11ul3">
                    <li><a href="#" class="bjwhite">卖家中心<div class="arrow"></div></a></li><li><a href="#" class="bjwhite">联系客服<div class="arrow"></div></a></li><li><a href="#" class="bjwhite" id="disin"><div id="boxaaa"><div class="menu-icon"></div></div>网站导航<div class="arrow"></div></a></li>
                </ul>
            </div>       
        </div>
        <div id="a12"></div>
        <div id="a13">
            <div id="a13q">
                <a id="fn38" href="#">
                    <img src="TM3.8妇女节.png">
                </a>
                <ul id="fn38ul">
                    <li class="a11ulli">
                        <div class="a11ulliwz">
                            <p class="dpmz">大牌美妆</p>
                            <p class="fqbyq">疯抢百元券</p>
                        </div>
                        <div>
                            <img src="dpmz1.jpg" class="dpmzimg">
                        </div>
                        <div class="clearf"></div>
                    </li>
                    <li class="a11ulli2">
                        <div class="a11ulliwz">
                            <p class="dpmz">潮流个护</p>
                            <p class="fqbyq">买正装送正装</p>
                        </div>
                        <div>
                            <img src="dpmz2.jpg" class="dpmzimg">
                        </div>
                        <div class="clearf"></div>
                    </li>
                    <li class="a11ulli3">
                        <div class="a11ulliwz">
                            <p class="dpmz">食品酒水</p>
                            <p class="fqbyq">爆款加购中</p>
                        </div>
                        <div>
                            <img src="dpmz3.jpg" class="dpmzimg">
                        </div>
                        <div class="clearf"></div>
                    </li>
                    <li class="a11ulli">
                        <div class="a11ulliwz">
                            <p class="dpmz">智能家电</p>
                            <p class="fqbyq">大额满减</p>
                        </div>
                        <div>
                            <img src="dpmz4.jpg" class="dpmzimg">
                        </div>
                        <div class="clearf"></div>
                    </li>
                    <li class="a11ulli5">
                        <div class="a11ulliwz">
                            <p class="dpmz">纸品家清</p>
                            <p class="fqbyq">188减100元</p>
                        </div>
                        <div>
                            <img src="dpmz5.jpg" class="dpmzimg">
                        </div>
                        <div class="clearf"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="a2">
        <img src="TM38动态图.gif" id="gifTM">
        <div class="a2ul">
            <ul class="a11ul22" id="liuul">
                <li>
                    <a href="#" class="allulliii">宝贝</a>
                </li>
                <li>
                    <a href="#" class="allulliii">天猫</a>
                </li>
                <li>
                    <a href="#" class="allulliii">店铺</a>
                </li>
            </ul>
            <div class="clearf"></div>
            <input type="text" name="firstname" class="inputtext" placeholder="    输入用户名">
            <p class="sousuo">搜索</p>
            <ul class="a11ul">
                <li class="a2ulli">
                    <a>新款连衣裙</a>
                </li>
                <li class="a2ulli">
                    <a>四件套</a>
                </li>
                <li class="a2ulli">
                    <a>潮流T恤</a>
                </li>
                <li class="a2ulli">
                    <a>时尚女鞋</a>
                </li>
                <li class="a2ulli">
                    <a>短裤</a>
                </li>
                <li class="a2ulli">
                    <a>半身裙</a>
                </li>
                <li class="a2ulli">
                    <a>男士外套</a>
                </li>
                <li class="a2ulli">
                    <a>墙纸</a>
                </li>
                <li class="a2ulli">
                    <a>行车记录仪</a>
                </li>
                <li class="a2ulli">
                    <a>新款男鞋</a>
                </li>
                <li class="a2ulli">
                    <a>耳机</a>
                </li>
                <li id="a2ulli2">
                    <a>更多></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="a3">
        <div id="a33">
            <ul class="a11ul3">
                <p id="ztsc"><a>主题市场</a></p>
                <li class="a3ulli" id="a3ulli1">
                    <a class="a3ullia">天猫</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">聚划算</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">天猫超市</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">淘抢购</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">电器城</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">司法拍卖</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">中国质造</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">兴农扶贫</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">飞猪旅行</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">智能生活</a>
                </li>
                <li class="a3ulli">
                    <a class="a3ullia">苏宁易购</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="a4k">
        <div id="a4">
            <div id="a41">
                <ul class="a4ul1">
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">女装</a>/
                        <a class="a41ullia" href="#">男装</a>/
                        <a class="a41ullia" href="#">内衣</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">鞋靴</a>/
                        <a class="a41ullia" href="#">箱包</a>/
                        <a class="a41ullia" href="#">配件</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">童装玩具</a>/
                        <a class="a41ullia" href="#">孕产</a>/
                        <a class="a41ullia" href="#">用品</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">家电</a>/
                        <a class="a41ullia" href="#">数码</a>/
                        <a class="a41ullia" href="#">手机</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">美妆</a>/
                        <a class="a41ullia" href="#">洗护</a>/
                        <a class="a41ullia" href="#">保健品</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">珠宝</a>/
                        <a class="a41ullia" href="#">眼镜</a>/
                        <a class="a41ullia" href="#">手表</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">运动</a>/
                        <a class="a41ullia" href="#">户外</a>/
                        <a class="a41ullia" href="#">乐器</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">游戏</a>/
                        <a class="a41ullia" href="#">动漫</a>/
                        <a class="a41ullia" href="#">影视</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">美食</a>/
                        <a class="a41ullia" href="#">生鲜</a>/
                        <a class="a41ullia" href="#">零食</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">鲜花</a>/
                        <a class="a41ullia" href="#">宠物</a>/
                        <a class="a41ullia" href="#">农资</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">房产</a>/
                        <a class="a41ullia" href="#">装修</a>/
                        <a class="a41ullia" href="#">建材</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">家具</a>/
                        <a class="a41ullia" href="#">家饰</a>/
                        <a class="a41ullia" href="#">家纺</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">汽车</a>/
                        <a class="a41ullia" href="#">二手车</a>/
                        <a class="a41ullia" href="#">用品</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">办公</a>/
                        <a class="a41ullia" href="#"> DIY</a>/
                        <a class="a41ullia" href="#">五金电子</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">百货</a>/
                        <a class="a41ullia" href="#">餐厨</a>/
                        <a class="a41ullia" href="#">家庭保健</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                    <li class="a41ulli">
                        <a class="a41ullia" href="#">学习</a>/
                        <a class="a41ullia" href="#">卡券</a>/
                        <a class="a41ullia" href="#">本地服务</a>
                        <span class="a4ul1agt">&gt</span>
                    </li>
                </ul>
            </div>
            <div id="a42">
                <div id="container">
                    <div id="list"  style="left : -520px">
                        <img src="5.jpg" alt="1.jpg" />
                        <img src="1.jpg" alt="1.jpg" />
                        <img src="2.jpg" alt="1.jpg" />
                        <img src="3.jpg" alt="1.jpg" />
                        <img src="5.jpg" alt="1.jpg" />
                        <img src="1.jpg" alt="1.jpg" />
                    </div>
                    <div id="buttons">
                        <span count="1" class="on"></span>
                        <span count="2" class=""></span>
                        <span count="3" class=""></span>
                        <span count="4" class=""></span>
                    </div>
                    <a  id="prev" class="arrow">&lt;</a>
                    <a  id="next" class="arrow">&gt;</a>
                </div>

                <div class="clearf"></div>
                <img src="tmall.png" id="tmalll">
                <div id="stmwz">理想生活上天猫</div>
                <div class="clearf"></div>
                <hr id="a4xian">
                <div id="lunbotu2">
                    <img src="lunbo21.jpg" class="lunbo2img">
                </div>
            </div>
            <div id="a43">
                <div>
                    <img src="a4gg1.jpg" class="a4imggg1">
                    <div id="jrrm">
                        <p>今日热卖</p>
                    </div>
                    <img src="a4gg2.jpg" class="a4imggg2">
                </div>
            </div>
            <div id="a44">
                <div id="dlbj">
                    <img src="touxiang.jpg" id="touxaing">
                    <p id="nihao">HI! 你好</p>
                    <ul id="a44ul1">
                        <li id="a44ulli11"><p>领淘宝金币抵钱</p></li>
                        <li id="a44ulli12"><p>会员俱乐部</p></li>
                    </ul>
                    <div class="clearf"></div>
                    <ul id="a44ul2">
                        <li class="a44ulli2" id="a44ulli21">登陆</li>
                        <li class="a44ulli2 btn">注册</li>
                        <li class="a44ulli2">开店</li>
                    </ul>
                    <div class="clearf"></div>
                    <div class="jbzq">
                        <p class="jbzqp">网上有害信息举报专区 </p>
                        <div class="arrow2"></div>
                    </div>
                    <div class="a44gg">
                        <ul id="a44ul3">
                            <li class="a44ulli3" id="a44ulli31">
                                <a href="#">公告</a>
                            </li>
                            <li class="a44ulli3">
                                <a href="#">规则</a>
                            </li>
                            <li class="a44ulli3">
                                <a href="#">论坛</a>
                            </li>
                            <li class="a44ulli3">
                                <a href="#">安全</a>
                            </li>
                            <li class="a44ulli3">
                                <a href="#">公益</a>
                            </li>
                        </ul>
                        <div class="clearf"></div>
                        <div class="a44js">
                            <p class="a44jsp">
                                <a style="color: #ff4400" href="#">聚力新零售 天猫组织架构全面升级</a>
                            </p>
                            <p class="a44jsp">
                                <a href="#">天猫公布3.8消费报告雷诺拥抱阿里新零售</a>
                            </p>
                        </div>
                    </div>
                    <div id="jldiv">
                        <ul class="jlul">
                            <li id="jlulli1">
                                <a href="#"><p>充话费</p></a>
                            </li>
                            <li id="jlulli2">
                                <a href="#"><p>旅行</p></a>
                            </li>
                            <li id="jlulli3">
                                <a href="#"><p>车险</p></a>
                            </li>
                            <li id="jlulli4">
                                <a href="#"><p>游戏</p></a>
                            </li>
                        </ul>
                        <div class="clearf"></div>
                        <ul class="jlul">
                            <li id="jlulli5">
                                <a href="#"><p>彩票</p></a>
                            </li>
                            <li id="jlulli6">
                                <a href="#"><p>电影</p></a>
                            </li>
                            <li id="jlulli7">
                                <a href="#"><p>酒店</p></a>
                            </li>
                            <li id="jlulli8">
                                <a href="#"><p>理财</p></a>
                            </li>
                        </ul>
                        <div class="clearf"></div>
                        <ul class="jlul">
                            <li id="jlulli9">
                                <a href="#"><p>找服务</p></a>
                            </li>
                            <li id="jlulli10">
                                <a href="#"><p>演出</p></a>
                            </li>
                            <li id="jlulli11">
                                <a href="#"><p>水电煤</p></a>
                            </li>
                            <li id="jlulli12">
                                <a href="#"><p>火车票</p></a>
                            </li>
                        </ul>
                        <div class="clearf"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="app" class = "bg">
    <div class="seton">
            <div class = "contentt">
                <h1>欢迎登陆</h1>
                <form>
                    <div class="setonin">
                        <input type="text" v-model="a" class="setname"><p v-text="comp"></p>
                        <input type="password" v-model="b" class="setpassword"><p v-text="password"></p>
                        <br>
                        <button class=" delete">注册</button>
                    </div>

                </form>
            </div>
    </div>
</div>
</body>
<script src="jquery.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="index1.js"></script>
<script src="index2.js"></script>
<script src="index3.js"></script>
</html>